page-login {
  .logo {
    display: block;
    width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
.toastMessage {
  text-align: center;
}

.option {
  text-align: center;
  margin-top: 5%;
}
