page-request-table {
  .center-box {
    margin-top: 5%;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .seats {
    font-size: 40px;
  }
}

ion-icon {
  font-size: 70px;
}
